aside {
	position: fixed;
	top: 60px;
	height: 100%;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-cats {
	background-color: rgb(233, 233, 233);
	display: flex;
	height: 70%;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: auto;
	margin-bottom: 3px;
	padding-bottom: 60px;
}

.list-cats::-webkit-scrollbar {
	height: 0px;
	width: 0px;
}

.circle {
	width: 30px;
	height: 30px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-radius: 50%;
}

.cat {
	width: 160px;
	padding-left: 20px;
	display: flex;
	align-items: center;
}

.list-cats .wrp-streamer {
	color: rgb(19, 19, 19);
	min-height: 55px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrp-streamer .cat .cat-name {
	width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrp-streamer .cat .cat-name span:hover {
	color: royalblue;
}

.list-cats .wrp-streamer:hover {
	background-color: rgb(223, 222, 223);
}

.live-viewers {
	padding-right: 10px;
}

.count-viewers {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.join-block {
	height: 30%;
	width: 250px;
	border-bottom: 1px solid;
	margin-bottom: 60px;
	background-color: black;
}

.block-arrow {
	background-color: rgb(233, 233, 233);
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.join {
	width: 75%;
	height: 75%;
	border-radius: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgb(200, 200, 200);
}

.join p {
	word-wrap: normal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: oblique;
	font-size: 20px;
}

.join p::selection {
	background-color: orchid;
	color: white;
}

.links {
	padding-top: 15px;
	font-size: 34px;
	width: 80%;
	display: flex;
	justify-content: space-around;
}

.fab.fa-telegram {
	color: rgb(140, 140, 140);
	transition-duration: 0.25s;
	transition-property: color;
}

.fab.fa-instagram {
	color: rgb(140, 140, 140);
	transition-duration: 0.25s;
	transition-property: color;
}

.fab.fa-facebook {
	color: rgb(140, 140, 140);
	transition-duration: 0.25s;
	transition-property: color;
}

.fab.fa-telegram:hover {
	cursor: pointer;
	color: rgb(34, 159, 217);
}

.fab.fa-instagram:hover {
	cursor: pointer;
	color: rgb(219, 75, 10);
}

.fab.fa-facebook:hover {
	cursor: pointer;
	color: rgb(72, 103, 170);
}

@media All and (max-width:1200px) {
	aside {
		width: 75px;
	}
	.list-cats {
		height: 100%;
		width: 75px;
	}
	.join-block {
		display: none;
	}
	.wrp-streamer .cat-name {
		display: none;
	}
	.wrp-streamer .live-viewers {
		display: none;
	}
}