header {
	padding: 0px 20px;
	box-shadow: 0px 1px 2px grey;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 10000;
}

.start .fas.fa-cat {
	color: royalblue;
	cursor: pointer;
	font-size: 38px;
}

.logo-text {
	margin-left: 10px;
	font-size: 38px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: royalblue;
	cursor: pointer;
}

.center {
	display: flex;
	width: 40%;
}

.end {
	display: flex;
	align-items: center;
}

.search-input {
	border-style: solid;
	border-color: #ccc;
	width: 80%;
	border-width: 1px;
	border-right: none;
	padding: 7px 0px 7px 10px;
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 16px;
	transition-duration: 0.1s;
	transition-property: border-style, border-color, border-width, box-shadow;
}

.search-input:focus {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
	box-shadow: inset 0px 0px 4px grey;
}

.search-button {
	background-color: rgb(248, 248, 248);
	color: rgb(160, 160, 160);
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	width: 65px;
	transition-duration: 0.15s;
	transition-property: background-color, box-shadow;
}

.search-button:hover {
	background-color: rgb(240, 240, 240);
	box-shadow: 0px 1px 1px rgb(198, 198, 198);
}

.micro-icon {
	color: rgb(160, 160, 160);
	font-size: 22px;
	padding-left: 14px;
	align-self: center;
	transition-duration: 0.15s;
	transition-property: color;
}

.micro-icon:hover {
	color: rgb(117, 117, 117);
}

.bell-icon {
	font-size: 22px;
	color: rgb(160, 160, 160);
	padding-right: 15px;
}

.bell-icon:hover {
	color: rgb(117, 117, 117);
}

.icon-paw {
	padding-top: 22%;
	padding-left: 22%;
	font-size: 22px;
}

.menu {
	background-color: royalblue;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.menu .content-menu {
	display: none
}

.trigger {
	padding: 7px;
}

.trigger:hover .content-menu {
	display: block;
}

.trigger:hover .menu {
	background-color: rgb(160, 160, 160);
}

.trigger:hover .item-menu {
	background-color: rgb(250, 250, 250);
}

.content-menu {
	border-style: solid;
	border-radius: 10px;
	width: 150px;
	position: relative;
	right: 270%;
	box-shadow: 0px 0px 10px grey;
	top: 35%;
}

.item-menu {
	padding-left: 15px;
	height: 40px;
	width: 150px;
	display: flex;
	align-items: center;
	font-size: 20px;
	background-color: rgb(248, 248, 248);
}

.item-menu:last-child {
	color: red;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: grey;
	border-style: solid;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.item-menu:first-child {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.item-menu i {
	padding-right: 10px;
}

.content-menu .item-menu:hover {
	background-color: rgb(160, 160, 160)
}

@media all and (max-width:550px) {
	.center {
		display: none;
	}
}